<div class="global">
  <label class="boxed">Entrez le prix maximal du baril que vous souhaitez créer : </label>
  <div class="boxed">
    <input class="form-control form-control-lg" id="enonce" type="text" [(ngModel)]="maxBarrelPrice">
  </div>
  <label class="boxed">Quelle finition souhaitez vous pour vos blocs? </label>
  <div class="boxed">
    <input class="form-control form-control-lg" id="reponse" type="text" [(ngModel)]="barrelFinish">
  </div>
  <div class="boxed">
    <button class="btn-profil" (click)="generateBarrel()">Créez votre baril !</button>
  </div>
</div>

