<div>
  <div class="jumbotron">
    <h1 class="display-4">Bienvenue chez ZeniWoodBlock !!!</h1>
    <p class="lead">Vos jouets en bois de qualité depuis 1964 !
      Le bois que nous utilisons est certifié PEFC.</p>
    <hr class="my-4">
    <p>Nouveau sur le site? Créez votre profil!</p>
    <div class="text-center">
      <a class="btn btn-profil" href="#" role="button">Créer mon Profil</a>
    </div>
  </div>
</div>
