.breadcrumb {background: rgba(245, 245, 245, 1); border: 0px solid rgba(245, 245, 245, 1); border-radius: 4px;}
.breadcrumb li {font-size: 14px;}
.breadcrumb a {color: black;}
.breadcrumb a:hover {color: #166208;}
.breadcrumb>.active {color: rgba(153, 153, 153, 1);}
.breadcrumb>li+li:before {color: rgba(204, 204, 204, 1); content: "\002F\00a0";}
