<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="" routerLinkActive="active">ACCUEIL</a></li>
    <li class="breadcrumb-item"><a routerLink="/user" routerLinkActive="active">PROFIL</a></li>
    <li class="breadcrumb-item"><a routerLink="/blocGenerator" routerLinkActive="active">CREER UN BLOC</a></li>
    <li class="breadcrumb-item"><a routerLink="/blocList" routerLinkActive="active">TOUS LES BLOCS</a></li>
    <li class="breadcrumb-item"><a routerLink="/barrelGenerator" routerLinkActive="active">CREER UN BARIL</a></li>
    <li class="breadcrumb-item"><a routerLink="/barrelList" routerLinkActive="active">TOUS LES BARILS</a></li>
  </ol>
</nav>
<router-outlet></router-outlet>
