<div class="global" *ngFor="let bloc of blocList">
  <div>
    <nav>
      <a class="boxedWhite" [routerLink]="'/blocList'" routerLinkActive="active">
        {{bloc.name}} / {{bloc.cost}} / {{bloc.brutPrice}} <br></a>
    </nav>
  </div>
</div>
