<div class="global" *ngFor="let barrel of barrelList">
  <div>
    <nav>
      <a class="boxedWhite" [routerLink]="'/barrelList'" routerLinkActive="active">
        {{barrel.blocsQuantity}} / {{barrel.brutPrice}} / {{barrel.netPrice}} <br></a>
    </nav>
  </div>
</div>
